*{
margin: 0%;
padding: 0%;
}
.header {
   background-color: black;
   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
   position: fixed;
   width: 100%;
   z-index: 3;
 }
 
 .header ul {
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   background-color:black;
 }
 
 .header li a {
 
   padding: 20px 20px;
   text-decoration: none;
 }
 
 .header li a:hover,
 .header .menu-btn:hover {
   background-color: black;
 }
 
 .header .logo {
   display: block;
  
   font-size: 2em;
   padding: 10px 20px;
   text-decoration: none;
   margin-left: 100px;
 }
 
 /* menu */
 
 .header .menu {
   clear: both;
   max-height: 0;
   transition: max-height .2s ease-out;
 }
 
 /* menu icon */
 
 .header .menu-icon {
   cursor: pointer;
   display: inline-block;
   float: right;
   padding: 28px 20px;
   position: relative;
   user-select: none;
 }
 
 .header .menu-icon .navicon {
   background:white;
   display: block;
   height: 2px;
   position: relative;
   transition: background .2s ease-out;
   width: 18px;
 }
 
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
   background: white;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
 }
 
 .header .menu-icon .navicon:before {
   top: 5px;
 }
 
 .header .menu-icon .navicon:after {
   top: -5px;
 }
 
 /* menu btn */
 
 .header .menu-btn {
   display: none;
 }
 
 .header .menu-btn:checked ~ .menu {
   max-height: 240px;
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon {
   background: transparent;
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon:before {
   transform: rotate(-45deg);
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon:after {
   transform: rotate(45deg);
 }
 
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
   top: 0;
 }
 
 /* 48em = 768px */
 
 @media (min-width: 48em) {
   .header li {
     float: left;
   }
   .header li a {
     padding: 20px 30px;
   }
   .header .menu {
     clear: none;
     float: right;
     max-height: none;
   }
   .header .menu-icon {
     display: none;
   }
 }
 
           
 
/*  début header */
nav ul 
     { 
        width: 100%;
        position: fixed;
        list-style: none;
        display:flex;
        background-color: black;
        color: white;
        background-image: url(images/back.jpg);
        z-index:1;
        overflow: hidden;
     }  
 li
      {
         margin-top: 44px;
         margin-left: 81px;
      }
 li a
      {
        color: white;
        text-decoration: none;
        display: block;
        padding: 20px 20px;
        margin-top: -34px;
      }
 .Back
      { 
           width:100%; 
           height: 65%;
           background-size: cover;
           background-image: url(images/back.jpg);
      }
   
  .logo
        {
         padding: 0px;
         padding-left:50px;
         margin-top: 5;
         margin: 0px;
         }
  .button1
         { 
            background:#038DFE;
            border: #038DFE;
            border-radius: 30px;
            padding: 10px 40px 10px 40px;
            margin-left:60px ;
            margin-top: -10px;
            margin-bottom: 10px;
         
            color: white;
         }
  /*media de header */
      @media screen and (max-width:767px)
{
     nav ul
     {  
       display: block;
       margin: 0;
       padding: 0;
       text-align: center;
       font-size:14px ;
       position: static;
      }
    nav ul li
      { margin-right:80px;
      
      }
    .button1
    {
       padding:20px ;
       margin: 0%;
       font-size:12px ;
       padding-top:10px ;
       padding-bottom:10px ;
       text-align: center;
    }
    .logo
    {
       text-align: center;
      margin-right:70px;
    }
    nav ul li a
    {
       width: 100%;
       text-align: center;
    }
}
/* End header */

/*background */
   .Back
      { 
      width:100%; 
      height: 65%;
      background-size: cover;
      background-image: url(images/back.jpg);
      }
   .class1
      {  
         height: 244px;
         color: white;
         padding-left: 40px;
         padding-top: 140px;
      }
   .class1 p
      {
         padding-bottom: 20px;
      }
   .class1 h2
      {
         padding-bottom: 20px;
      }
   .class1 button
      {
         padding: 10px;
         margin:10px; 
         border-radius: 30px;
         color: white;
         margin: auto;
      }
   .decvbutton
      {
         background:#038DFE;
         border: #038DFE;
      }
   .class1 .insbutton
      {  
      background-color : rgb(0, 138, 255, 0);
      color: white;
      border: 2px solid;
      margin-bottom: 15px;
      }
/* media background */
@media(max-width:767px)
{
   .class1
   {
      display: block;
      margin-left: 0;
   }
   .class1 h2
   {
      font-size: 16px;
      text-align: center;
   }
   .class1 p
   {
      font-size: 13px;
      text-align: center;
      margin-left: 0;
   }
   .decvbutton
   {
      display: block;
      text-align: center;
      font-size: 10px;
   }
   .insbutton
   {
         display: block;
         text-align: center;
         font-size: 10px;
         margin-top: 40px;
   }
}
/* End backg de media */
/* titre 1 */
      .titre1
      {
         font-size: 40px;
         font-family: Montserrat;
         text-align: center;
         color:black !important;
         margin-top:32px;
      }

      .paragraph1 p
      {  margin-top: 35px;
         font-size: 19px;
         line-height: 25px;
         text-align: center;
         font-family: 'Open Sans', 'sans-serif';
         font-weight: 100;
      }
@media(max-width:767px)
{
   .titre1
   {
      display: block;
      text-align: center;
      margin-top: 100px;
   }
   .paragraph1
   {
      padding: 20px;
      text-align: center;
   }
}
/* titre 1 */

      .image1 
      { width: 700px;
         height: 550px;
         background-image: url(images/s5);
         padding-left: 0%;
         border-radius: 40%;
         margin-left: 100px;
         margin-top: 32px;
      }
      
      .image2
      {
         width: 700px;
         height: 550px;
         background-image: url(images/s4);
         padding-left:0%;
         margin-top: 10px;
         border-radius: 40%;
         margin-left: 100px;
         margin-top: -500px;
      }
      .image3
      {
         width: 700px;
         height: 550px;
         background-image: url(images/s6);
         padding-left:0%;
         border-radius:40%;
         margin-left: 500px;
         margin-top:-964px;
      }
      .image4
      {
         width: 700px;
         height: 550px;
         background-image: url(images/s);
         padding-left:0%;
         border-radius:40%;
         margin-left: 100px;
      }
 
      .image5
     {
         width: 700px;
         height: 550px;
         background-image: url(images/s6);
         padding-left:0%;
         margin: 8px;
         border-radius:40%;
         margin-left: 500px;
         margin-top:-600px;
      }
      .text1 
      { 
        position: relative;
        top: -800px;
        left: 900px;
        color: #707070;
        margin-top:450px;
      }
      .text2 
      {
        position: relative;
        top: -800px;
        left: 900px;
        color: #707070;
        margin-top:450px
      }
      .text3
      {
         position: relative;
         top: -361px;
         left: 853px;
         margin-left: -800px;
         color: #707070;
      }
     .text4
     {
         position: relative;
         top: -800px;
         left: 900px;
         color: #707070;
         margin-top:450px;
     }
     .text5
     {
         position: relative;
         top: -800px;
         left: 900px;
         margin-left: -876px;
         color: #707070; 
         margin-top: 450px;
     }
@media(max-width:767px){

      .image1 
      {  
         width: 277px;
         height: 209px;
         margin: -60px;
         margin-left: 20px;
         margin-top: 24px;
      }
      .text1 
      { 
         font-size: 7px;
         top: -185px;
         left: 314px;
         margin-top: 118px;
      }
      
      .image2
      {
         width: 277px;
         height: 209px;
         margin-bottom: -112px;
         margin-left:20px;

      }
      .text2
      { 
         font-size: 10px;
         top: -185px;
         left: 347px;
         margin-top: 158px;
      }
      .image3
      {
        width: 277px;
        height: 209px;
        padding-left: 0%;
        margin: 8px;
        margin-left: 196px;
        margin-top: -125px;
      }
      .text3
      { 
         font-size: 7px;
        margin-top: 655px;     
      }
      .image4
      {
         width: 277px;
         height: 209px;
         margin: 536px;
         margin-left: 24px;
         margin-top: -949px;
      }
      .text4
      { 
         font-size: 7px;
         top: -185px;
         left: 315px;
         margin-top: -509px;
      }
 
   .image5
   {
      width: 277px;
      height: 209px;
      padding-left: 0%;
      margin: 177px;
      margin-left: 198px;
      margin-top: -93px;
   }
   .text5
   { 
      font-size: 7px;
      margin-top: 79px;
   }

   }
   /*  END le corp */

      .Titre
      {
         font-size: 35px;
         font-weight: 380;
         font-family: 'Raleway',sans-serif;
         letter-spacing: 3px;
         margin-top: -600px;
      }
   .OCP
      {
         text-align: center;
         margin-top: 100px;   
      }
   .logocp
      {
         margin-top: 20px;
         height: 80px;
         width: 80px;
      }
@media(max-width:767px){
   .OCP
      {
         margin-top:336px;  
      }
   .Titre
     {
      font-size: 20px;
     }
   .logocp
   {
      margin-top: 20px;
      height: 65px;
      width: 65px;
   }
}
/*end ocp */

.Inscris
   {
      margin-left: 80px;
      margin-top: -299px;
   }
.Inscris p
   {
      font-size: 35px;
      font-weight: 380;
      font-family: 'Raleway',sans-serif;
      letter-spacing: 3px;  
      margin-top:381px;  
      
   }
.Inscris button
{
      background-color:#038DFE;
      box-shadow: 0px 3px 50px #4A92CC;
      color: white;
      font-size: 15px;
      border: 0px;
      position: relative;
      top: -47px;
      margin-left: 600px;
      padding: 10px; 
      border-radius: 20px;
      width:510px;
      font-family: 'Roboto', sans-serif;
      text-transform: up10ercase;
      font-weight: 500;
      transition: all 0.3s ease 0s;
   }
   @media (max-width:767px){
.Inscris p
   {
      font-size: 19px;
       
      
   }
.Inscris button
   {
      margin-top: 66px;
      height: 39px;
      width: 322px;
      margin-left: -15px;
   }
   /* END button */

                     /* footer */

      footer
      {
         background-color: black;
         
         height:200px;
         margin-top: 167px;
      }
      .RS
      {
         text-align: right;
         color: gray;
         position:relative;
         top: -85px;
         right: 30px;
         margin-top:50px;
         margin: 3px;
      }

      .RS img
      {
        position:relative;
         top: -15px;
         right: 30px;
         height: 20px;
         width: 15px;
         margin: 10px;
      }
      .RSp
      {
         margin: 20px 0px 20px;
      }
      .center
      {
            color: gray;
            text-align: center;
            position:relative;
            top: 20px;
      }
      .contacter p
      {
         position: relative;
         top: 10px;
         margin-left: 20px;
         color: dimgrey;
         font-size: 15px;
      }
      .contacter p{
         position: relative;
         top: 15px;
         margin-left: 20px;
         color: dimgrey;
         font-size: 15px;
      }

      .contacter img{
         height: 10px;
         width: 10px;
         position: relative;
         top: 20px;
         left: 20px;
      } 

      .contacter a{
         margin-left: 25px;
         position: relative;
         top: 20px;
         color: #347AB1;
      }

                           /*media footer */
@media(max-width:767px){
   footer
      { 
        text-align: center;
         height: 193px;
      }
   .RS
     {
         text-align: center;
         top: -5px;
         right: -3px;
         margin-top:67px;
     }

   .RS img
     {
         top: -16px;
         right: 6px;
         height: 20px;
         margin: 3px;
     }
   .RSp
      {
         margin: 20px 0px 20px;
      }
   .center
      {
            text-align: center;
            top: 38px;
      }
   .contacter p
      {
         top: 10px;
         margin-left: 20px;
         font-size: 15px;
         text-align: center;
      }
   .contacter img
      {
         top: 20px;
         left: 0px;
      } 

   .contacter a
      {
         Text-align: center;
         margin-left: 8px;
         top: 18px;
      } 
 }   
 /* End Footer */